# Preprocessing data

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [2]:
df_scale = pd.read_csv('df_scaled.csv')
df_scale.head()

,Average rating_scaled,Number of reviews_scaled,Publish year_scaled,Number of pages_scaled,Currently reading_scaled,MainGenre_Encoded
0,-0.836515,0.382224,0.435899,-0.671280,0.799825,42
1,1.064527,-0.461262,1.549410,-0.397062,0.505666,17
2,-0.575588,-0.601047,0.435899,-0.361295,-0.633889,60
3,1.772758,-0.581931,2.106165,-0.003620,-0.446023,17
4,1.811897,-0.589100,2.106165,-0.003620,-0.512764,17

In [3]:
df_original = pd.read_csv('results.csv')
df_original.head()

,Title,Author,Average rating,Number of ratings,Number of reviews,Genres,Publish year,Number of pages,Currently reading,Want to read
0,"The Law of Attraction (Lawyers in Love, #1)",N.M. Silber,3.76,11553,928.0,"Romance, Contemporary Romance, Contemporary, H...",2013.0,242.0,604.0,NaN
1,"Isle of Winds (The Changeling, #1)",James Fahy,4.27,1689,222.0,"Fantasy, Middle Grade, Young Adult, Fiction, M...",2015.0,265.0,485.0,NaN
2,Breaking Glass,Lisa Amowitz,3.83,504,105.0,"Young Adult, Mystery, Paranormal, Thriller, Fi...",2013.0,268.0,24.0,NaN
3,"Drowned Tomb (The Changeling, #2)",James Fahy,4.46,800,121.0,"Fantasy, Young Adult, Magic, Fiction",2016.0,NaN,100.0,NaN
4,"Chains of Gaia (The Changeling, #3)",James Fahy,4.59,695,115.0,"Fantasy, Young Adult, Fiction, Magic",2017.0,NaN,73.0,NaN

In [4]:
df_preprocessed = pd.concat([df_scale,df_original[['Average rating']]], axis=1)
df_preprocessed.head()

,Average rating_scaled,Number of reviews_scaled,Publish year_scaled,Number of pages_scaled,Currently reading_scaled,MainGenre_Encoded,Average rating
0,-0.836515,0.382224,0.435899,-0.671280,0.799825,42,3.76
1,1.064527,-0.461262,1.549410,-0.397062,0.505666,17,4.27
2,-0.575588,-0.601047,0.435899,-0.361295,-0.633889,60,3.83
3,1.772758,-0.581931,2.106165,-0.003620,-0.446023,17,4.46
4,1.811897,-0.589100,2.106165,-0.003620,-0.512764,17,4.59

In [5]:
# i want to convert df[verage rating] to catagorical data : <3.2 = low , 3.2-4.2 = medium, >4.2= high
def convert_rating(rating):
    if rating <3.2:
        return 'low'
    elif rating >= 3.2 and rating <=4.2:
        return 'medium'
    else:
        return 'high'

df_preprocessed['Average rating converted'] = df_preprocessed['Average rating'].apply(convert_rating)
df_preprocessed.head()

,Average rating_scaled,Number of reviews_scaled,Publish year_scaled,Number of pages_scaled,Currently reading_scaled,MainGenre_Encoded,Average rating,Average rating converted
0,-0.836515,0.382224,0.435899,-0.671280,0.799825,42,3.76,medium
1,1.064527,-0.461262,1.549410,-0.397062,0.505666,17,4.27,high
2,-0.575588,-0.601047,0.435899,-0.361295,-0.633889,60,3.83,medium
3,1.772758,-0.581931,2.106165,-0.003620,-0.446023,17,4.46,high
4,1.811897,-0.589100,2.106165,-0.003620,-0.512764,17,4.59,high

In [ ]:
df_final = df_preprocessed.drop(columns=['Average rating'])